/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
--- COLOR PALETTE ---
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

$mainColor :#095be2;
$secondColor: #eff5f4;
$thirdColor :#466396;
$fourColor: #2eadff;
$textcolor: #404d63;
$textcolorAlpha: #7f8897;
$boxShadowColor: #e8eeff;
$bgcolor1: #eff5f4;
$bgcolor2: #eff5f4;
$bgcolor3: #eff5f4;
$bgcolor4: #e7e7e7;
$color: #979b9a;
$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #222222;
$section-bg-1:#f1f9ff;
$section-bg-2:#f1f9ff;
$mainFont: 'Poppins';
$secondFont: 'Nunito',
sans-serif;
$thirdFont: 'Great Vibes';