@import "_variables";
@import "_mixin";
@import "_preset";
/*@import "../fonts/_flaticon"; */

/* GENERAL */

button.btn {
    @include overlay_gradient(45deg, $gdBtnFromColor, $gdBtnToColor);
}

/* HEADER NAVBAR*/

.toolbar_container {
    padding: 0;
    margin: 0;
    position: relative;
    background: #fff;
    width: 100%;
    margin-top: 0px;
    -webkit-box-shadow: 2px 2px 5px rgba(80, 90, 177, 0.34);
    box-shadow: 2px 2px 5px rgba(80, 90, 177, 0.34);
    img {
        height: 50px;
    }
    .navbar {
        width: 100%;
        padding: 0;
        .navbar-collapse {
            justify-content: flex-end;
            .nav-item {
                .nav-link {
                    font-size: 15px;
                    font-weight: 600;
                    color: $mainColor;
                }
            }
        }
    }
}

/* WELCOME SECTION */

.welcome_container {
    background: #fff url(../img/bg_home.png);
    background-repeat: no-repeat;
    background-position: top right;
    .welcome_content {
        min-height: 920px;
        display: flex;
        justify-content: start;
        align-items: center;
        .content {
            h1 {
                font-size: 50px;
                line-height: 1.4;
                margin-top: 20px;
                margin-bottom: 50px;
            }
            p {
                margin-bottom: 30px;
                font-size: 20px;
                margin-right: 140px;
            }
            .btn-getStarted {}
        }
    }
}

/* HEADER TITLE*/

.theme_section {
    padding: 70px 0;
    .header_title {
        text-align: center;
        margin-bottom: 45px;
        h2 {
            margin-bottom: 60px;
            font-size: 40px;
            text-transform: capitalize;
        }
        p {
            font-size: 20px;
        }
    }
}

/* CONTACT US SECTION*/

.contactUsBlock {
    min-height: 160px;
    position: relative;
    .let_work_bloc {
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        padding: 40px;
        background: $colorWhite;
        z-index: 10;
        border-radius: 6px;
        -webkit-box-shadow: -1px 3px 20px 1px #97abe5;
        box-shadow: -1px 3px 20px 1px #97abe5;
        p {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

/* TESTIMONIALS SECTION */

.testimonials_container {
    background: url(../img/bg_testi.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding: 300px 0;
    .title_ct {
        h5 {
            margin-top: 20px;
            margin-bottom: 40px;
            color: $colorWhite;
        }
        h2 {
            margin-bottom: 70px;
            color: $colorWhite;
        }
    }
    .testiItem {
        background: $colorWhite;
        border-radius: 0;
        -webkit-box-shadow: 0px 0px 10px 0px #78829f;
        box-shadow: 0px 0px 10px 0px #78829f;
        padding: 30px;
        margin-top: 20px;
        .image {
            line-height: 50px;
            margin-bottom: 30px;
            img {
                float: left;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
            h4 {
                margin-top: 10px;
            }
        }
    }
    .recta {
        position: relative;
        height: 300px;
        .testiItem {
            width: 400px;
        }
    }
    .carre {
        position: relative;
        height: 300px;
        .testiItem {
            height: 300px;
            width: 300px;
        }
    }
    .testiOne {
        .testiItem {
            position: absolute;
            top: -75px;
        }
    }
    .testiTwo {
        .testiItem {
            position: absolute;
            right: -68px;
            top: -75px;
        }
    }
    .testiTree {
        .testiItem {
            position: absolute;
            left: -55px;
            top: -60px;
        }
    }
    .testiFour {
        .testiItem {
            position: absolute;
            right: -30px;
            top: -26px;
        }
    }
}

/* FOOTER SECTION*/

.footer_container {
    padding-top: 240px;
    padding-bottom: 85px;
    background: #fff url(../img/bg_map.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
    position: relative;
    .footer_overlay {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        @include overlay_gradient(45deg, $gdFromColor, $gdToColor);
    }
    .footer_wrap {
        .footer_box {
            color: $colorWhite;
            .footer_logo {
                margin-bottom: 22px;
                img {
                    height: 55px;
                }
            }
            .footer_info {
                p {
                    color: $colorWhite;
                }
                .contact_info {
                    color: $colorWhite;
                }
            }
            h4 {
                margin-bottom: 45px;
                color: $colorWhite;
            }
            li {
                margin-bottom: 10px;
                a {
                    color: $colorWhite;
                }
            }
        }
    }
}